<!DOCTYPE html>
<!--[if lte IE 7]><html id="html" class="ie oldie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html id="html" class="ie oldie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html id="html" class="ie ie9" lang="en"><![endif]-->
<html lang="zh-cn">
<!-- 
                              /$$ /$$                           /$$                 /$$ /$$  /$$$$$$         
                          | $$|__/                          |__/                | $$|__/ /$$__  $$        
  /$$$$$$$  /$$$$$$   /$$$$$$$ /$$ /$$$$$$$   /$$$$$$        /$$  /$$$$$$$      | $$ /$$| $$  \__//$$$$$$ 
 /$$_____/ /$$__  $$ /$$__  $$| $$| $$__  $$ /$$__  $$      | $$ /$$_____/      | $$| $$| $$$$   /$$__  $$
| $$      | $$  \ $$| $$  | $$| $$| $$  \ $$| $$  \ $$      | $$|  $$$$$$       | $$| $$| $$_/  | $$$$$$$$
| $$      | $$  | $$| $$  | $$| $$| $$  | $$| $$  | $$      | $$ \____  $$      | $$| $$| $$    | $$_____/
|  $$$$$$$|  $$$$$$/|  $$$$$$$| $$| $$  | $$|  $$$$$$$      | $$ /$$$$$$$/      | $$| $$| $$    |  $$$$$$$
 \_______/ \______/  \_______/|__/|__/  |__/ \____  $$      |__/|_______/       |__/|__/|__/     \_______/
                                             /$$  \ $$                                                    
                                            |  $$$$$$/                                                    
                                             \______/                                                                                   
 -->

<head>
	<meta charset="UTF-8">
    <meta name="keywords" content="Web开发 NodeJS Python" />
	<meta name="description" content="Web开发 NodeJS Python 地图" />
	<meta name="Copyright" content="baokundu@gmail.com" />
	<meta name="Designer" content="baokundu@gmail.com" />
	<meta name="Publisher" content="坤坤" />
	<meta name="author"  content="坤坤" />
	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow,archive" />
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
	<!-- CSS -->
	<!-- load bootstrap (bootswatch version) -->
	<link href="http://v3.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">
        <title>坤坤个人简历</title>
</head>

<!-- apply our angular app -->
<body >
    <!-- inject our views using ng-view -->
	<!-- each angular controller applies a different class here -->
	  <!-- Docs master nav -->

    <header class="navbar navbar-default navbar-inverse navbar-fixed-top  bs-docs-nav">

    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"  ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <li ><a >杜保坤个人简历</a></li>              
                    <li ><a href="#">介绍</a></li>
                    <li><a href="#experience">经历</a></li>
                    <li><a href="#skills">技能</a></li>
                    <li><a href="#workExperience">经验</a></li>                  
                </ul>
                <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about">关于</a>
        </li>
      </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="isCollapsed = !isCollapsed">介绍</a></li>
                    <li><a href="#experience" ng-click="isCollapsed = !isCollapsed">经历</a></li>
                    <li><a href="#skills" ng-click="isCollapsed = !isCollapsed">技能</a></li>
                    <li><a href="#workExperience" ng-click="isCollapsed = !isCollapsed">经验</a></li>
                    <li><a href="#about"ng-click="isCollapsed = !isCollapsed">关于</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
	<div class="page {{ pageClass }}" ng-view>
  </div>
  <script  src="http://cdn.bootcss.com/require.js/2.1.11/require.min.js"></script>
  <script type="text/javascript">
        require.config({
          baseUrl: '.',
          paths: {
            'angular': '//cdn.bootcss.com/angular.js/1.2.0rc3/angular',
            'angular-route':"//cdn.bootcss.com/angular.js/1.2.0rc3/angular-route",
            'angular-animate':'//cdn.bootcss.com/angular.js/1.2.0rc3/angular-animate',
            "ng-sanitize":"bower_components/angular-sanitize.min",
            'ui-bootstrap':'//cdn.bootcss.com/angular-ui-bootstrap/0.9.0/ui-bootstrap.min',
             "waitSeconds": 30
          },
          shim: {
            'angular' : {'exports' : 'angular'},
            'angular-route': { deps: ['angular']},
            'ui-bootstrap': { deps: ['angular']},
            'angular-animate':{ deps: ['angular']},
             'ng-sanitize': { deps: ['angular']}
          }
        });
        require(["js/main-built"]);
  </script>
 
</body>
</html>



