<div class="container">
<div class='row'>
	<h3>本项目使用到的技术</h3>
	<hr/>
	<div class='col-md-offset-1 projectintroduce'>
		<p>MMVM框架：AngluarJS</p>
		<p>AngluarJS插件：angular-route、angular-animate、ng-sanitize、ui-bootstrap</p>
		<p>AMD模块化框架：requireJS</p>
		<p>CSS框架：BootStrap、LESS。</p>
		<p>动画效果均是由CSS3实现</p>
		<p>web包管理工具:bower</p>
		<p>自动化构建工具：grunt及其插件less、uglify、concat、cssmin。</p>
		<p>项目优化工具：r.js合并压缩AMD模块</p>
		<p>版本管理工具：Git、GitHub。 该项目所在的<a href='https://github.com/kunkun12/resume' target="_blank">Github仓库地址</a></p>
		<p>开发环境的WebServer:NodeJS+Express</p>
	</div>

</div>
</div>
